@import './_media.scss';
@import './main.scss';

.behaviourMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.behaviourContainer {
    user-select: none;
    position: relative;
    margin: 15px;
    border: 2px outset #61cece;
    border-radius: 15px;
    font-size: 2em;
    width: 700px;
    background: rgba(0, 0, 0, 0.5);

    @include media("<desktop") {
        font-size: 1.5em;
        border-radius: 10px;
        text-shadow: black 3px 3px;
        width: 600px;
    }

    @include media("<tablet","portrait") {
        font-size: 1em;
        border-radius: 8px;
        text-shadow: black 2px 2px;
        width: 300px;
        margin: 10px;
    }

    &.points {
        height: 130px;
        background: rgba(0, 0, 0, 0.8);

        @include media("<desktop") {
            height: 110px;
        }

        @include media("<tablet","portrait") {
            height: 80px;
        }
    }
}

.behaviourMode {
    color: white;
    user-select: none;
    position: relative;
    font-family: LBA;
    text-shadow: black 4px 4px;
    margin: 15px;
    padding-bottom: 5px;
    border: 2px outset #61cece;
    border-radius: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);

    @include media("<tablet","portrait") {
        margin: 10px;
    }
}

.behaviourItemContainer {
    display: flex;
    margin: 15px;

    @include media("<tablet","portrait") {
        margin: 10px;
    }
}

.behaviourItem {
    flex-grow: 1;
    user-select: none;
    position: relative;
    margin-right: 15px;
    padding-bottom: 5px;
    border: 2px outset #61cece;
    border-radius: 15px;
    width: 150;
    height: 180;
    background: rgba(0, 0, 0, 0.6);

    @include media("<desktop") {
        width: 120;
        height: 160;
    }

    @include media("<tablet","portrait") {
        width: 80;
        height: 80;
        margin-right: 10px;
        border-radius: 10px;
    }

    &.selected {
        background: rgba(32, 162, 255, 0.5);
    }
}

.count {
    font-family: LBA;
    font-size: 48px;
    color: rgba(99, 173, 177, 0.8);

    &.money {
        position: absolute;
        left: 545;
    }

    &.keys {
        position: absolute;
        left: 545;
        bottom: 0;
    }
}

.pointsProgress {
    color: white;
    user-select: none;
    position: relative;
    font-family: LBA;
    text-shadow: black 4px 4px;
    // margin: 15px;
    padding-bottom: 5px;
    border: 2px outset #61cece;
    border-radius: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    width: 480;
    height: 20;

    @include media("<desktop") {
    }

    @include media("<tablet","portrait") {
    }
}


.progress {
    color: white;
    user-select: none;
    position: relative;
    font-family: LBA;
    text-shadow: black 4px 4px;
    padding-bottom: 5px;
    border-radius: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    width: 480;
    height: 20;

    @include media("<desktop") {
    }

    @include media("<tablet","portrait") {
    }

    &.life {
        background: rgba(255, 0, 0, 0.5);
    }

    &.magic {
        background: rgba(0, 0, 255, 0.5);
    }
}
