@import './_media.scss';
@import './main.scss';

.foundObject {
    position: relative;
    top: 75px;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px outset #61cece;
    border-radius: 15px;
    margin: auto;

    @include media("<=desktop") {
        width: 150px;
        height: 150px;
    }

    @include media("<=tablet","portrait") {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
}

.foundObject-canvas {
    position: absolute;
    top: 0;
    border-radius: 15px;
    outline: 0px;

    @include media("<=tablet","portrait") {
        border-radius: 10px;
    }
}

.inventory {
    user-select: none;
    list-style: none;
    font-size: 2em;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (orientation:landscape) { 
    .inventory {
        width: 115vh;
        height: 98vh;
    }
}
@media screen and (orientation:portrait) {
    .inventory {
        width: 98vw;
        height: 115vw;
    }
 }

.inventoryText {
    width: 99%;
    height: 8%;
    margin-bottom: 15px;
    padding: 0.25vh;
    border: 2px outset #61cece;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #60A1CB;
    user-select: none;
    font-family: LBA;
    text-shadow: black 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.inventoryText p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.inventoryItems {
    height: 91%;
    width: 99%;
    margin: 15px;
    padding: 0.25vh;
    border: 2px outset #61cece;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}


.inventoryItem {
    background: rgba(0, 0, 0, 0.6);
    margin: 0.5vh;
    border-radius: 15px;
    border: 2px outset #61cece;
    position: relative;
}

.selected {
    background: #003e51cf;
}

.equipped:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.75vh outset #ff000073;
    border-radius: 15px;
}

.inventory-canvas {
    position: absolute;
    top: 0;
    border-radius: 15px;
    outline: 0px;

    @include media("<=tablet","portrait") {
        border-radius: 10px;
    }
}