@import './_media.scss';
@import './main.scss';

.bgMenu {
    background-repeat: repeat-x;
    height: 100%;
    background-size: cover;
    background-position: center;

    &.lba1 {
        background-image: url('/images/menubg_lba1.png');
    }
    &.lba2 {
        background-image: url('/images/menubg_lba2.png');
    }
}

.bgInGameMenu {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.menu {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;

    @include media("<desktop") {
        bottom: 5%;
    }
}

.menuList {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menuItemList {
    padding: 10px;
    width: 700px;

    @include media("<desktop") {
        width: 450px;
        padding: 5px;
    }
    @include media("<tablet", "portrait") {
        width: 250px;
        padding: 5px;
    }
}

.menuItem {
    user-select: none;
    cursor: pointer;
    position: relative;
    font-family: LBA;
    text-shadow: black 4px 4px;
    padding-bottom: 5px;
    border: 2px outset #61cece;
    border-radius: 15px;
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    &.active,
    &.active:hover {
        background: rgba(32, 162, 255, 0.5);
    }

    &:hover {
        background: rgba(32, 162, 255, 0.25);
    }

    @include media("<desktop") {
        font-size: 1.5em;
        border-radius: 10px;
        text-shadow: black 3px 3px;
    }

    @include media("<tablet","portrait") {
        font-size: 1em;
        border-radius: 8px;
        text-shadow: black 2px 2px;
    }
}
