@import './_media.scss';

.textbox {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'LBA';
    text-shadow: black 4px 4px;
    padding: 20px;
    border: 2px outset #61cece;
    border-radius: 15px;
    font-size: 1.9em;
    text-align: justify;
    bottom: 30px;
    left: 30px;
    right: 30px;

    @include media("<desktop") {
        font-size: 1.5em;
        border-radius: 10px;
        text-shadow: black 3px 3px;
        padding: 10px;
    }

    @include media("<tablet","portrait") {
        font-size: 1em;
        border-radius: 8px;
        text-shadow: black 2px 2px;
        padding: 10px;
    }

    &.small {
        min-height: 135px;
    }

    &.big {
        top: 30px;
    }
}
