/assetsSource/ @SendellX @Peterdevos
/www/models/ @SendellX @Peterdevos
/metadata/lba1/layouts.json @SendellX @Peterdevos
/metadata/lba2/layouts.json @SendellX @Peterdevos
* @agrande @xesf @slwilliams
