{
  "presets": ["react", "env", "flow"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-dirname-filename",
    "transform-line",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
