<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule metadata/scene/([^\.]+) metadata/scene.php?sceneId=$1 [QSA,NC,L]
RewriteRule metadata/game metadata/game.php [QSA,NC,L]
</IfModule>