@font-face {
    font-family: LBA;
    src: url(PatuaOne-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: LBAClassic;
    src: url(SerifaB.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    background: black;
}

#root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button:focus {
    outline:0;
}

select:focus {
    outline:0;
}

*::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
    background-color: rgb(25,25,25);
}

*::-webkit-scrollbar
{
    width: 7px;
    height: 7px;
    background-color: rgb(25,25,25);
}

*::-webkit-scrollbar-thumb
{
    background-color: rgb(37,37,38);
    border: 1px solid rgb(51,51,51);
    border-radius: 4px;
}

*::-webkit-scrollbar-corner
{
    background-color: rgb(25,25,25);
}
