@font-face {
    font-family: LBA;
    src: url(PatuaOne-Regular.ttf);
    font-weight: bold;
}
@font-face {
    font-family: LBAClassic;
    src: url(SerifaB.ttf);
    font-weight: bold;
}
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    background: black;
}
#root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.label {
    position: absolute;
    border: 1px solid black;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    margin-left: -10px;
    margin-top: -10px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.label.actor {
    border-radius: 50%;
    background: rgba(205, 92, 92, 0.6);
}
.label.point {
    background: rgba(135, 206, 235, 0.6);
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 3px;
}
.label.zone {
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: -9px;
    margin-top: -9px;
}
.label.actor.selected {
    opacity: 1;
    background: red;
    color: white;
}

#overlay {
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    font-family: LBA;
    text-shadow: black 4px 4px;
    padding: 20px;
    border: 2px outset #20a2ff;
    border-radius: 15px;
    font-size: 3em;
    color: white;
}

#dbgHUD {
    max-width: 50%;
    max-height: 90%;
    overflow: auto;
    display: none;
    color: white;
    position: fixed;
    background: black;
    opacity: 0.7;
    border: 3px solid gray;
    border-radius: 10px;
    right: 0;
    padding: 10px;
    font-family: 'Courier', monospace;
    font-size: 16px;
    font-weight: bold;
}

#dbgHUD .section {
    padding-bottom: 10px;
}

#dbgHUD .toolbar {
    text-align: right;
}

#dbgHUD_input {
    font-family: 'Courier', monospace;
    font-size: 14px;
    font-weight: bold;
    width: 80%;
}

#dbgHUD button {
    color: black;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

#dbgHUD button:disabled {
    color: grey;
}

#loading {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: black;
}
#loadingImage {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -320px;
}
#loadingText {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    font-family: LBA;
    padding: 5px;
    border: 2px outset #20a2ff;
    border-radius: 15px;
    font-size: 3em;
    color: #20a2ff;
    width: 300px;
    text-align: center;
    bottom: 20%;
    left: 50%;
    margin-left: -150px;
}
#video {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: black;
}
@media only screen and (max-width: 1024px) {
    #overlay {
        font-size: 2.5em;
        padding: 20px;
    }
    #loadingText {
        font-size: 2.5em;
        padding: 20px;
    }
    #loadingText {
        font-size: 2.5em;
        padding: 15px;
        width: 200px;
        margin-left: -100px;
        bottom: 15%;
        padding: 3px;
    }
}
@media only screen and (max-width: 768px) {
    #overlay {
        font-size: 1.5em;
        padding: 15px;
    }
    #loadingText {
        font-size: 1.5em;
        padding: 15px;
        width: 150px;
        margin-left: -90px;
        bottom: 10%;
        padding: 3px;
    }
    #loadingImage {
        width: 320px;
        height: 240px;
        margin-top: -120px;
        margin-left: -160px;
    }
}